<div class="flex flex-col h-screen">
  <mat-card class="m-4">
    <mat-card-header>
      <mat-card-title>Authorization Server Settings</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-col">
      <form [formGroup]="authSettingsForm">
        <mat-form-field class="w-full">
          <input matInput formControlName="issuerUrl" placeholder="Server Url" readonly>
          <mat-checkbox formControlName="disableSignup" matSuffix>Disable Sign Up</mat-checkbox>
        </mat-form-field>
        <mat-form-field class="w-full" (click)="toggleOrgName()">
          <input matInput formControlName="organizationName" placeholder="Organization Name">
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-select placeholder="Infrastructure Console Client ID" formControlName="infrastructureConsoleClientId">
            <mat-option *ngFor="let client of clientList" [value]="client.clientId">
              {{ client.name + " (" + client.clientId + ")"}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-select placeholder="Avatar Bucket UUID" formControlName="avatarBucket">
            <mat-option *ngFor="let storage of storageList" [value]="storage.uuid">
              {{ storage.name + " (" + storage.uuid + ")"}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-select placeholder="System Email Account UUID" formControlName="systemEmailAccount">
            <mat-option *ngFor="let email of emailAccounts" [value]="email.uuid">
              {{ email.name + " (" + email.uuid + ")"}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput formControlName="refreshTokenExpiresInDays" placeholder="Refresh Token Expires in Days"
            type="number">
          <mat-checkbox formControlName="enableChoosingAccount" matSuffix>Enable Account Choice</mat-checkbox>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput formControlName="allowedFailedLoginAttempts" placeholder="Disallow Login after number of failed attempts"
            type="number">
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput formControlName="authCodeExpiresInMinutes" placeholder="Authorization Code Expires in Minutes"
            type="number">
          <mat-checkbox formControlName="enableUserPhone" matSuffix>Enable User Phone</mat-checkbox>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput formControlName="otpExpiry" placeholder="OTP expiry in minutes"
            type="number">
          <mat-checkbox formControlName="enableCustomLogin" matSuffix>Enable Custom Login Pages</mat-checkbox>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Do not allow user to be deleted" readonly>
          <mat-checkbox formControlName="isUserDeleteDisabled" matSuffix>Disable User Deletion</mat-checkbox>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput formControlName="logoURL" placeholder="Logo Url">
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput formControlName="faviconURL" placeholder="Favicon Url">
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput formControlName="helpURL" placeholder="Help Url">
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput formControlName="privacyURL" placeholder="Privacy Url">
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput formControlName="termsURL" placeholder="Terms Url">
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput formControlName="copyrightMessage" placeholder="Copyright Message">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="updateAuthSettings()" mat-button color="primary"
        [disabled]="!authSettingsForm.valid">Update</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="m-4">
    <mat-card-header>
      <mat-card-title>Security Settings</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-col justify-start">
      <p>Deleting bearer tokens will revoke access for all connected apps and users</p>
      <button (click)="deleteBearerTokens()" [disabled]="disableDeleteTokens" mat-raised-button color="warn">Delete
        Bearer Tokens</button>
      <p>Deleting user sessions will logout all logged in users</p>
      <button (click)="deleteUserSessions()" [disabled]="disableDeleteSessions" mat-raised-button color="warn">Delete
        User Sessions</button>
    </mat-card-content>
  </mat-card>
</div>