.mb-2{
    margin-bottom: 0.5rem;
  }
  .w-100{
    width: 100%;
  }
  .mb-4{
    margin-bottom: 1rem;
  }
  
  .ft-700{
    font-weight: 700;
  }
  .ft-500{
    font-weight: 500;
  }
  
  .fm-roboto{
    font-family: var(--mat-card-title-text-font);
  }
  .text-upper{
    text-transform: uppercase;
  }
  
  .mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: transparent !important;
  }
  .mat-mdc-form-field.mat-focused .mat-mdc-form-field-focus-overlay{
    opacity: 0 !important;
  }
  .w-100{
    width: 100%;
  }
  .pointer{
    cursor: pointer;
  }
  
    .social-logins{
      border: 1px solid rgba(0, 0, 0, 0.54);
      min-height: 2.5rem;
      border-radius: 10px;
      padding: 0px 16px 0px 16px;
      img{
        max-height: 3vh;
      }
  }
  .social-logins-container{
    padding: 0px 16px 0px 16px;
  }
  .h-fit{
    height: fit-content;
  }