<div class="flex flex-col h-screen">
  <mat-card class="m-4">
    <mat-card-header class="m-2">
      <mat-card-title>{{ clientName || "New Client" }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-col">
      <form [formGroup]="clientForm">
        <mat-form-field class="w-full">
          <input matInput placeholder="Client Name" formControlName="clientName" required>
          <mat-checkbox formControlName="isDisabled" matSuffix class="client-checkboxes">Disable Client</mat-checkbox>
          <mat-checkbox formControlName="isTrusted" matSuffix class="client-checkboxes">Trusted</mat-checkbox>
          <mat-checkbox formControlName="autoApprove" matSuffix>Auto Approve</mat-checkbox>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Authentication Method</mat-label>
          <mat-select [(value)]="authenticationMethod" formControlName="authenticationMethod"
            placeholder="Client Authentication">
            <mat-option *ngFor="let method of authMethods" [value]="method.value">
              {{ method.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-full" *ngIf="clientId">
          <input matInput placeholder="Client ID" formControlName="clientId" password readonly>
        </mat-form-field>
        <mat-form-field class="w-full" *ngIf="clientSecret">
          <input matInput placeholder="Client Secret" formControlName="clientSecret"
            [type]="hideClientSecret ? 'password' : 'text'" readonly>
          <mat-icon matSuffix (click)="hideClientSecret = !hideClientSecret">
            {{hideClientSecret ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>
        <mat-form-field class="w-full" *ngIf="changedClientSecret">
          <input matInput placeholder="Changed Client Secret" formControlName="changedClientSecret"
            [type]="hideChangedClientSecret ? 'password' : 'text'" readonly>
          <mat-icon matSuffix (click)="hideChangedClientSecret = !hideChangedClientSecret">
            {{hideChangedClientSecret ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-select placeholder="Scopes" formControlName="clientScopes" multiple>
            <mat-option *ngFor="let scope of scopes" [value]="scope">{{scope}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Custom Login Route" formControlName="customLoginRoute">
          <mat-hint>Relative to Authorization Server</mat-hint>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Token Delete Endoint" formControlName="tokenDeleteEndpoint">
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="User Delete Endpoint" formControlName="userDeleteEndpoint">
        </mat-form-field>
        <div formArrayName="callbackURLForms"
          *ngFor="let url of clientForm.get('callbackURLForms')['controls']; let i = index;" style="width:100%">
          <div [formGroupName]="i">
            <mat-form-field class="w-1/2">
              <input matInput formControlName="callbackURL" placeholder="Callback URL {{i+1}}">
              <button mat-icon-button color="accent" matSuffix (click)="removeCallbackURL(i)">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <button mat-button color="accent" (click)="addCallbackURL()">
          Add Redirect<mat-icon>add</mat-icon>
        </button>
      </form>
    </mat-card-content>
    <mat-card-actions class="m-4 flex flex-row gap-2">
      <button (click)="createClient()" mat-flat-button color="primary" [disabled]="!clientForm.valid"
        *ngIf="!clientId">Create</button>
      <button (click)="updateClient()" mat-flat-button color="primary" [disabled]="!clientForm.valid"
        *ngIf="clientId">Update</button>
      <button (click)="delete()" mat-flat-button color="warn" *ngIf="uuid !== new">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
