<mat-drawer-container class="sidenav-container">
  <mat-drawer
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [disableClose]="!(isHandset$ | async)"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Admin</mat-toolbar>
    <ng-container *ngIf="tokenIsValid">
      <mat-nav-list>
        <a mat-list-item routerLink="/admin/profile">Profile</a>
        <a mat-list-item *ngIf="isAdmin" routerLink="/admin/list/user">Users</a>
        <a mat-list-item *ngIf="isAdmin" routerLink="/admin/list/role">Roles</a>
        <a mat-list-item *ngIf="isAdmin" routerLink="/admin/list/client">Clients</a>
        <a mat-list-item *ngIf="isAdmin" routerLink="/admin/list/scope">Scopes</a>
        <a mat-list-item *ngIf="isAdmin" routerLink="/admin/list/social_login">Social Login</a>
        <a mat-list-item *ngIf="isAdmin" routerLink="/admin/list/ldap_client">LDAP Client</a>
        <a mat-list-item *ngIf="isAdmin" routerLink="/admin/list/kerberos_realm">Kerberos Realm</a>
        <a mat-list-item *ngIf="isAdmin" routerLink="/admin/list/oauth2_provider">OAuth2 Provider</a>
        <a mat-list-item *ngIf="isAdmin" routerLink="/admin/list/email">Email</a>
        <a mat-list-item *ngIf="isAdmin" routerLink="/admin/list/storage">Storage</a>
        <a mat-list-item *ngIf="isAdmin" routerLink="/admin/auth_settings">Settings</a>
        <a mat-list-item *ngIf="!loggedIn" (click)="login()">Login</a>
        <a mat-list-item *ngIf="loggedIn" (click)="logoutCurrentUser()">Logout</a>
      </mat-nav-list>
    </ng-container>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <button *ngIf="currentRouteArray.includes(list)"
      class="fab-container"
      (click)="addModel()"
      mat-fab>
      <mat-icon>add</mat-icon>
    </button>
  </mat-drawer-content>
</mat-drawer-container>
