<div class="flex flex-col h-screen justify-center items-center">
  <mat-card class="w-96 mat-elevation-z2 mb-2">
    <mat-card-header class="justify-center">
      <mat-card-title i18n="@@signIn">Welcome Back</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="mb-8">
        <img class="w-32 m-auto" *ngIf="logoURL" src="{{ logoURL }}" alt="logo">
      </div>
      <form [formGroup]="verifyUserForm">
        <ng-container *ngIf="ldapClients.length > 0">
          <mat-form-field class="w-100">
            <mat-label>Choose Organization</mat-label>
            <mat-select formControlName="organization">
              <mat-option value="''">--Select--</mat-option>
              <mat-option [value]="client" *ngFor="let client of ldapClients">
                {{client.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="!hideUsername">
          <mat-form-field class="w-full">
            <mat-label>{{userInputPlaceholder}}</mat-label>
            <input matInput 
              formControlName="username" name="username" #username (keyup.enter)="verifyUser()" required>
            <mat-error>{{ serverError }}</mat-error>
          </mat-form-field>
        </ng-container>
      </form>
      <form [formGroup]="loginUserForm">
        <mat-form-field style="display: none;">
          <input matInput formControlName="username" name="username">
        </mat-form-field>
        <ng-container *ngIf="!hidePassword">
          <mat-form-field class="w-full">
            <mat-label>Password</mat-label>
            <input matInput i18n-placeholder="@@password"
              [type]="isPassHidden ? 'password' : 'text'" #password formControlName="password"
              (keyup.enter)="onSubmitPassword()" required>
            <a mat-icon-button matSuffix (click)="!disableVerifyPasswordButton && togglePassHidden()"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isPassHidden">
              <mat-icon>{{isPassHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
            </a>
            <a mat-icon-button matSuffix (click)="!disableVerifyPasswordButton && clearLoginForm()"
              [attr.aria-label]="'Login with another account'">
              <mat-icon>refresh</mat-icon>
            </a>
            <mat-error>{{ serverError }}</mat-error>
          </mat-form-field>
        </ng-container>
      </form>
      <ng-container *ngIf="!hideCode">
        <form [formGroup]="submitOTPForm">
          <mat-form-field class="w-full">
            <mat-label>OTP</mat-label>
            <input matInput i18n-placeholder="@@otp" formControlName="code" name="code" #otp autofocus
              required>
            <mat-error>{{ serverError }}</mat-error>
          </mat-form-field>
        </form>
      </ng-container>
    </mat-card-content>
    <mat-card-footer>
      <div class="flex flex-col justify-between m-4">
        <div class="flex flex-col justify-between" *ngIf="!hideUsername">
          <button class="w-100 mb-2" (click)="verifyUser()" [disabled]="disableVerifyUserButton || !verifyUserForm.controls.username.value" mat-raised-button color="primary"
            i18n="@@next">Next</button>
          <button class="w-100" mat-flat-button [disabled]="disableVerifyUserButton" (click)="navigateTo('/signup')">
            Sign Up
          </button>
          
          
        </div>

        <div class="flex flex-col justify-between" *ngIf="!hidePassword">
          <button class="mb-2 w-100" (click)="onSubmitPassword()" [disabled]="disableVerifyPasswordButton || !loginUserForm.controls.password.value" mat-raised-button
            color="primary" i18n="@@login" #btnLogin=matButton>Login</button>
            <button class="mb-2 w-100" [disabled]="disableVerifyPasswordButton" (click)="!disableVerifyPasswordButton && forgotPassword()">
              Forgot?
            </button>
        </div>
        <div class="flex flex-col justify-between" *ngIf="!hideCode">
          <button (click)="onSubmitOTP()" class="mb-2 w-100" [disabled]="disableOnSubmitOTPButton" mat-raised-button color="primary"
            i18n="@@login">Login</button>
          <button (click)="resendOTP()" [disabled]="disableResendOTP" class="mb-2 w-100" mat-button #reSendOTP i18n="@@resendOTP">Resend
            OTP?</button>
        </div>
      </div>
    </mat-card-footer>
  </mat-card>

  <div class="flex flex-row  m-auto justify-center" *ngIf="!!enablePasswordLess">
    <mat-button-toggle-group>
      <mat-button-toggle *ngIf="disableLoginChoice" (click)="showPasswordLessLogin()">Password-less
        OTP</mat-button-toggle>
      <mat-button-toggle *ngIf="enablePasswordLess" (click)="webAuthnLogin()">Password-less
        Key</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="mb-2 ft-700 fm-roboto" *ngIf="socialLogins.length > 0">
    OR
  </div>

  <div class="social-logins-container">
    <div *ngFor="let login of socialLogins" class="flex ft-500 text-upper fm-roboto flex items-center mb-2 w-96 social-logins" (click)="connectWith(login)">
      <div class="mr-4">
        <img src="assets/frappe-framework-logo.svg" alt="">
      </div>
      <div>
        {{login.name}}
      </div>
    </div>
  </div>
  <!-- <div *ngFor="let client of ldapClients" class="ft-500 text-upperfm-roboto flex justify-center items-center mb-2 w-96 social-logins">
    {{ client.name }}
  </div> -->

  <!-- <mat-card class="flex-row h-1/4 w-96 m-auto mat-elevation-z2" [hidden]="enablePasswordLess"
    *ngIf="showSocialLogins">
    <mat-card-header class="justify-center">
      <mat-card-title i18n="@@socialLogin">Social Login</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-row mt-2">
      <button *ngFor="let login of socialLogins" (click)="connectWith(login)" class="w-full m-1"
        mat-stroked-button>
        {{ login.name }}
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card class="flex-row h-1/4 w-96 m-auto mat-elevation-z2" [hidden]="enablePasswordLess"
    *ngIf="showLoginChoice">
    <mat-card-header class="justify-center">
      <button class="w-full m-1" mat-stroked-button *ngIf="showEmailOrPhoneLogin" (click)="toggleLogin()">Domain Login</button>
      <button class="w-full m-1" mat-stroked-button *ngIf="showLDAPLogin" (click)="toggleLogin()">User Login</button>
    </mat-card-header>
    <mat-card-content class="flex flex-row mt-2">
      <button *ngFor="let client of ldapClients" disabled class="w-full m-1"
        mat-stroked-button>
        {{ client.name }}
      </button>
    </mat-card-content>
  </mat-card> -->
</div>
