<div class="flex flex-col h-screen">
  <mat-card class="m-4">
    <mat-card-header class="m-2">
      <mat-card-title>{{ name || "New Social Login" }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-col">
      <form [formGroup]="socialLoginForm">
        <mat-form-field class="w-full">
          <input matInput placeholder="Social Login Provider" formControlName="name" required>
          <mat-checkbox formControlName="isDisabled" matSuffix class="client-checkboxes">Disable Social Login</mat-checkbox>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Description" formControlName="description">
        </mat-form-field>
        <mat-form-field *ngIf="uuid" class="w-full">
          <input matInput placeholder="Redirect URL" formControlName="redirectURL" readonly>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Client ID" formControlName="clientId">
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Client Secret" formControlName="clientSecret"
            [type]="hideClientSecret ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hideClientSecret = !hideClientSecret">{{hideClientSecret ? 'visibility_off' :
            'visibility'}}</mat-icon>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Authorization URL" formControlName="authorizationURL" required>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Token URL" formControlName="tokenURL" required>
          <mat-checkbox formControlName="clientSecretToTokenEndpoint" matSuffix>Requires Client Secret</mat-checkbox>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Introspection URL" formControlName="introspectionURL">
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Base URL" formControlName="baseURL">
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Profile URL" formControlName="profileURL" required>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Revocation URL" formControlName="revocationURL">
        </mat-form-field>
        <div *ngFor="let scp of socialLoginForm.get('scope')['controls']; let i = index;" formArrayName="scope">
          <div [formGroupName]="i">
            <mat-form-field class="w-1/2">
              <input matInput formControlName="scope" placeholder="Scope {{i+1}}">
              <button mat-icon-button color="accent" matSuffix (click)="removeScope(i)">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <button mat-button color="accent" (click)="addScope()">
          Add Scope<mat-icon>add</mat-icon>
        </button>
      </form>
    </mat-card-content>
    <mat-card-actions class="m-4 flex flex-row gap-2">
      <button (click)="createSocialLogin()" mat-flat-button color="primary" [disabled]="!socialLoginForm.valid"
        *ngIf="!uuid">Create</button>
      <button (click)="updateSocialLogin()" mat-flat-button color="primary" [disabled]="!socialLoginForm.valid"
        *ngIf="uuid">Update</button>
      <button (click)="delete()" mat-flat-button color="warn" *ngIf="uuid && uuid !== new">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>